<a href="https://colab.research.google.com/github/fawazdhianabil/PSDS_KelasMahir_PejuangData3.0/blob/main/1800015042_Text_Representation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pembuka

Assalamu'alaikum warahmatullahi wabarakatuh.
Puji syukur kehadirat Allah Subhana Wata'ala atas limpahan Rahmat dan HidayahNya kepada kita semua.
Sholawat serta salam senantiasa tercurah limpahkan kepada baginda Muhammad Rasulullah Salallahualaihiwassalam.

Halo para **Pejuang Data**. Selamat berjumpa di pertemuan kedelapan Program Training **Algoritma Machine Learning** Kelas Mahir. Pada model machine learning dibutuhkan variabel x atau disebut features dan variabel y yang disebut label. Kita dapat memodifikasi data teks yang kita miliki menjadi matriks yang terdiri atas variabel x dan y tersebut menggunakan beberapa model representasi teks yaitu:

1. Bag-of-Words
2. TF-IDF

Namun sebelum ke sana, ada materi dasar dulu yang perlu dipahami sebelum membahas keduanya, yaitu Tokenisasi. Kamu akan mempelajari bagaimana sebuah teks dapat dipecah menjadi kalimat dan kata-kata yang kita biasa sebut sebagai token. Setelah data teks yang kita miliki kita tokenisasi baru bisa diproses menjadi features baik itu Bag-of-Words maupun TF-IDF.

## Tokenisasi

Tokenisasi adalah pemecahan serangkaian data teks ke dalam kepingan-kepingan baik kalimat maupun kata. Pemecahan data teks menjadi kalimat biasanya ditandai dengan tanda baca pemisah titik('.'). Sedangkan, untuk pemecahan kalimat menjadi kata dapat dicontohkan sebagai berikut. Misalnya kalimat “Ini baju saya” akan menjadi “ini, baju, saya”.

### Tokenisasi Kalimat

Kita akan mencoba memecah serangkaian data teks menjadi kalimat-kalimat. Kita dapat menggunakan function 'sent_tokenize' dari library `nltk` untuk melakukannya dengan tujuan kepraktisan.

In [20]:
import nltk
nltk.download('punkt')
from nltk import sent_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Berikut adalah contoh paragraf yang akan kita gunakan pada notebooks ini.

In [21]:
paragraph = '''Data science adalah topik diskusi yang sangat luas dan subyektif. Data science bukan sebuah bidang yang berdiri sendiri. Bidang ini merupakan kombinasi dari berbagai bidang termasuk Ilmu Komputer, Matematika, Statistik, dan Strategi Bisnis. Tiga komponen yang terlibat dalam data science adalah organising, packaging, dan delivering data (the OPD of data). Organising data adalah proses penyimpanan data yang digabungkan dengan manajemen data. Packaging data merupakan proses manipulasi dan penggabungan data mentah yang akan direpresentasikan. Delivering data merupakan proses untuk memastikan bahwa pesan data telah diakses oleh mereka yang memerlukannya. Menurut research tahun 2011, pada tahun 2020 dunia akan menghasilkan 50 kali lipat data dibandingkan tahun 2011. Jadi dengan peningkatan aliran data yang drastis tersebut, akan muncul alat-alat baru yang dapat digunakan untuk memanfaatkan data mentah dengan tepat. Data science mencakup semua alat, teknik, dan teknologi yang akan membantu kita menangani peningkatan aliran data tersebut. Data science merupakan perpaduan interdisipliner dari penurunan data, pengembangan algoritma, dan teknologi untuk memecahkan masalah analitik yang kompleks.
'''
paragraph

'Data science adalah topik diskusi yang sangat luas dan subyektif. Data science bukan sebuah bidang yang berdiri sendiri. Bidang ini merupakan kombinasi dari berbagai bidang termasuk Ilmu Komputer, Matematika, Statistik, dan Strategi Bisnis. Tiga komponen yang terlibat dalam data science adalah organising, packaging, dan delivering data (the OPD of data). Organising data adalah proses penyimpanan data yang digabungkan dengan manajemen data. Packaging data merupakan proses manipulasi dan penggabungan data mentah yang akan direpresentasikan. Delivering data merupakan proses untuk memastikan bahwa pesan data telah diakses oleh mereka yang memerlukannya. Menurut research tahun 2011, pada tahun 2020 dunia akan menghasilkan 50 kali lipat data dibandingkan tahun 2011. Jadi dengan peningkatan aliran data yang drastis tersebut, akan muncul alat-alat baru yang dapat digunakan untuk memanfaatkan data mentah dengan tepat. Data science mencakup semua alat, teknik, dan teknologi yang akan membantu kita menangani peningkatan aliran data tersebut. Data science merupakan perpaduan interdisipliner dari penurunan data, pengembangan algoritma, dan teknologi untuk memecahkan masalah analitik yang kompleks.\n'

Kemudian akan kita tokenisasi menjadi kalimat-kalimat sebagai berikut:

In [22]:
tokenisasi_kalimat = sent_tokenize(paragraph)
print(tokenisasi_kalimat)

['Data science adalah topik diskusi yang sangat luas dan subyektif.', 'Data science bukan sebuah bidang yang berdiri sendiri.', 'Bidang ini merupakan kombinasi dari berbagai bidang termasuk Ilmu Komputer, Matematika, Statistik, dan Strategi Bisnis.', 'Tiga komponen yang terlibat dalam data science adalah organising, packaging, dan delivering data (the OPD of data).', 'Organising data adalah proses penyimpanan data yang digabungkan dengan manajemen data.', 'Packaging data merupakan proses manipulasi dan penggabungan data mentah yang akan direpresentasikan.', 'Delivering data merupakan proses untuk memastikan bahwa pesan data telah diakses oleh mereka yang memerlukannya.', 'Menurut research tahun 2011, pada tahun 2020 dunia akan menghasilkan 50 kali lipat data dibandingkan tahun 2011.', 'Jadi dengan peningkatan aliran data yang drastis tersebut, akan muncul alat-alat baru yang dapat digunakan untuk memanfaatkan data mentah dengan tepat.', 'Data science mencakup semua alat, teknik, dan teknologi yang akan membantu kita menangani peningkatan aliran data tersebut.', 'Data science merupakan perpaduan interdisipliner dari penurunan data, pengembangan algoritma, dan teknologi untuk memecahkan masalah analitik yang kompleks.']

Menampilkan kalimat pertama:

In [23]:
tokenisasi_kalimat[0]

'Data science adalah topik diskusi yang sangat luas dan subyektif.'

### Tokenisasi Kata-kata

Jika tokenisasi kalimat membagi sekumpulan text menjadi beberapa kalimat dengan pemisah titik, maka tokenisasi kata-kata adalah memecah string berdasarkan spasi. Sehingga token yang dimaksud merupakan suatu kata pada sebuah kalimat. Untuk kepraktisan kita bisa menggunakan fungsi `word_tokenize` dari library `nltk` untuk melakukan hal ini.

In [24]:
import nltk
from nltk import word_tokenize

Misal kita akan memecah teks berikut menjadi tokenisasi kata-kata.

In [25]:
teks = "Assalamualaikum dan selamat pagi teman teman"
tokenisasi = word_tokenize(teks)
print(tokenisasi)

['Assalamualaikum', 'dan', 'selamat', 'pagi', 'teman', 'teman']

## Representasi Kata Menggunakan Matriks

### Bag Of Word

Bag of word adalah metode untuk merepresentasikan kata-kata pada sebuah matriks untuk diolah pada metode NLP yang paling sederhana. Ide dasar dari metode ini adalah menghitung kemunculan sebuah kata pada sebuah kalimat tertentu. Misal dalama kalimat:

    `Selamat Pagi Matematika UAD`
    
Maka kata-kata yang muncul pada kalimat di atas adalah `Selamat`, `Pagi`, `Matematika`, dan `UAD`

Representasi ini dilambangkan dengan angka 1 yang bermakna suatu kata `muncul` dan 0 jika suatu kata `tidak muncul`

In [26]:
import pandas as pd
df=pd.DataFrame({"Selamat":[1,1], 
                 "Pagi":[1,1], 
                 "Matematika":[1,0], 
                 "UAD":[1,0], 
                 "Indonesia":[0,1]}, index=['Selamat Pagi Matematika UAD', 'Selamat Pagi Indonesia'])
df

                             Selamat  Pagi  Matematika  UAD  Indonesia
Selamat Pagi Matematika UAD        1     1           1    1          0
Selamat Pagi Indonesia             1     1           0    0          1

### Membuat Matriks Bag-of-Words From Scratch

Impor Modul Yang Diperlukan

In [27]:
#Impor Modul Yang Diperlukan
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize

DataFrame Teks Input

In [28]:
df_teks=pd.DataFrame({"text":['Selamat Pagi Matematika UAD','Selamat Pagi Indonesia']})
df_teks

                          text
0  Selamat Pagi Matematika UAD
1       Selamat Pagi Indonesia

Membuat List Kosa Kata

In [29]:
kosa_kata = set()
for i in df_teks.text:
    token_kal=set(word_tokenize(i.lower()))
    kosa_kata=set.union(kosa_kata,token_kal)
    #print(kosa_kata)
    
kosa_kata = sorted(kosa_kata)
print(kosa_kata)

# Jumlah kata-kata pada list vocab           
jumlah_kosa_kata = len(kosa_kata)
print(jumlah_kosa_kata)

['indonesia', 'matematika', 'pagi', 'selamat', 'uad']
5

Membuat Dictionary Kosa Kata Untuk Membuat Baris Kosa Kata

In [30]:
indeks_kata = {}
for kata in kosa_kata:
    indeks_kata[kata] = 0
    
print(indeks_kata)

{'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 0, 'uad': 0}

Membuat Matriks Kata

In [31]:
vektor_kata=np.array([])
for baris_teks in df_teks.text:
    print(baris_teks)
    baris_kata = indeks_kata.copy()
    print('baris_kata', baris_kata)
    for kata in baris_teks.lower().split():
        baris_kata[kata]=+1
        print(baris_kata)
    baris_kata = np.array(list(baris_kata.values()))  
    vektor_kata = np.concatenate((vektor_kata,baris_kata), axis=0)
    print(vektor_kata)
matriks_kata = vektor_kata.reshape(df.shape[0], jumlah_kosa_kata)

Selamat Pagi Matematika UAD
baris_kata {'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 0, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 1, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 1, 'pagi': 1, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 1, 'pagi': 1, 'selamat': 1, 'uad': 1}
[0. 1. 1. 1. 1.]
Selamat Pagi Indonesia
baris_kata {'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 0, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 1, 'selamat': 1, 'uad': 0}
{'indonesia': 1, 'matematika': 0, 'pagi': 1, 'selamat': 1, 'uad': 0}
[0. 1. 1. 1. 1. 1. 0. 1. 1. 0.]

In [32]:
print(matriks_kata)

[[0. 1. 1. 1. 1.]
 [1. 0. 1. 1. 0.]]

Membuat DataFrame Bag Of Words

In [33]:
df_BoW = pd.DataFrame(matriks_kata, columns=kosa_kata, index=df_teks.text.tolist())
df_BoW = df_BoW.astype('int')
df_BoW

                             indonesia  matematika  pagi  selamat  uad
Selamat Pagi Matematika UAD          0           1     1        1    1
Selamat Pagi Indonesia               1           0     1        1    0

**Membuat Fungsi `Bag_Of_Words()`**

In [34]:
#Impor Modul Yang Diperlukan
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize

def Bag_Of_Words(df_teks):
    # Membuat list kosa kata dari seluruh teks input
    kosa_kata = set()
    for i in df_teks.text:
        token_kal=set(word_tokenize(i.lower()))
        kosa_kata=set.union(kosa_kata,token_kal)
    kosa_kata = sorted(kosa_kata)
    # Membuat dictionary kata-kata
    indeks_kata = {}
    for kata in kosa_kata:
        indeks_kata[kata] = 0
    # Jumlah kosa kata(untuk kolom)
    jumlah_kosa_kata = len(kosa_kata)
    # Membagun matriks kata
    vektor_kata=np.array([])
    for baris_teks in df_teks.text:
        baris_kata = indeks_kata.copy()
        for kata in baris_teks.lower().split():
            baris_kata[kata]=+1
        baris_kata = np.array(list(baris_kata.values()))  
        vektor_kata = np.concatenate((vektor_kata,baris_kata), axis=0)
    matriks_kata = vektor_kata.reshape(df_teks.shape[0], jumlah_kosa_kata)    
    df_bow = pd.DataFrame(matriks_kata, columns=kosa_kata, index=df_teks.text.tolist())
    df_bow = df_bow.astype('int')
    return df_bow

**Contoh Implementasi Fungsi `Bag_Of_Words()`**

In [35]:
df_teks

                          text
0  Selamat Pagi Matematika UAD
1       Selamat Pagi Indonesia

In [36]:
df_BoW=Bag_Of_Words(df_teks)
df_BoW

                             indonesia  matematika  pagi  selamat  uad
Selamat Pagi Matematika UAD          0           1     1        1    1
Selamat Pagi Indonesia               1           0     1        1    0

### Perbandingan dengan Scikit Learn Library

Sebenarnya, kita bisa menghasilkan matriks BoW dengan menggunakan Library Scikit Learn pada Class `CountVectorizer`

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

corpus = ['Selamat Pagi Matematika UAD','Selamat Pagi Indonesia']

X = vectorizer.fit_transform(corpus)

df_BoW_SL = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names(), index=corpus)
df_BoW_SL

                             indonesia  matematika  pagi  selamat  uad
Selamat Pagi Matematika UAD          0           1     1        1    1
Selamat Pagi Indonesia               1           0     1        1    0

Hasil fungsi yang kita buat dari dasar sama dengan `CountVectorizer` dari Library Scikit Learn

### Kekurangan Bag-of-Words

Meskipun model ini sangat sederhana untuk diimplementasikan, namun model ini masih memiliki bebrapa kekurangan:
    
* **Ketersebaran(Sparsity)**: Model BOW membuat vektor sparse yang meningkatkan kompleksitas ruang dan juga mempersulit algoritma prediksi kami untuk dipelajari.

* **Arti Kata**: Kata hanya direpresentasikan keberadaanya namun tidak sampai pada makna dan konteksnya dalam sebuah kalimat.

## TF-IDF

TF-IDF adalah metode untuk merepresentasikan kata-kata dalam angka. TF-IDF merupakan gabungan dari Term Frequency(TF) dan Inverse Document Frequency(IDF).

### Term Frequency(TF)
Term Frequency(TF) merupakan frekuensi kemunculan kata i pada kalimat j dibagi dengan total kata pada kalimat j. TF mengukur seberapa sering kata muncul dalam sebuah kalimat. Masing-masing kalimat memiliki panjang(jumlah kata) yang berbeda-beda, maka pada kalimat yang lebih panjang sebuah kata bisa muncul lebih banyak dari pada kalimat yang pendek. 

$$TF(kata) = \frac{\text{Jumlah kata i muncul dalam kalimat}}{\text{Jumlah kata dalam kalimat}}$$

### Inverse Document Frequency(IDF)
Inverse Document Frequency(IDF) mengukur seberapa penting kata tersebut. Saat menghitung TF kita menganggap semua kata sama penting. Bagaimanapun kita tahu bahwa ada beberapa kata yang sering muncul namun sebenarnya tidak penting seperti `adalah`, `pada`, `ini`, dll. Maka semakin tinggi nilai IDF dari sebuah kata, semakin tidak penting pula kata tersebut dalam sebuah kalimat. Pada dasarnya IDF(kata) dihitung sebagai berikut:

$$IDF(kata) = \log_{e} \frac{\text{Jumlah kalimat}}{\text{Jumlah kalimat mengandung `kata`}}$$

untuk menghidari pembagian dengan nol maka pada bagian penyebut ditambah 1

$$IDF(kata) = \log_{e} \frac{\text{1 + Jumlah kalimat}}{\text{1 + Jumlah kalimat mengandung `kata`}} + 1$$

### Contoh Penghitungan Manual TF-IDF

![image.png]()

### Membuat Matriks TF-IDF From Scratch

Impor Modul Yang Diperlukan

In [38]:
#Impor Modul Yang Diperlukan
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
import math
from sklearn.preprocessing import normalize

DataFrame Teks Input

In [39]:
df_teks=pd.DataFrame({"text":['Selamat Pagi Matematika UAD','Selamat Pagi Indonesia']})
df_teks

                          text
0  Selamat Pagi Matematika UAD
1       Selamat Pagi Indonesia

Membuat List Kosa Kata

In [40]:
kosa_kata = set()
for i in df_teks.text:
    token_kal=set(word_tokenize(i.lower()))
    kosa_kata=set.union(kosa_kata,token_kal)
    #print(kosa_kata)
    
kosa_kata = sorted(kosa_kata)
print(kosa_kata)

# Jumlah kata-kata pada list vocab           
jumlah_kosa_kata = len(kosa_kata)
print(jumlah_kosa_kata)

['indonesia', 'matematika', 'pagi', 'selamat', 'uad']
5

Membuat Dictionary Kosa Kata Untuk Membuat Baris Kosa Kata

In [41]:
indeks_kata = {}
for kata in kosa_kata:
    indeks_kata[kata] = 0
    
print(indeks_kata)

{'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 0, 'uad': 0}

Membuat Matriks TF

In [42]:
vektor_TF=np.array([])
for baris_teks in df_teks.text:
    print(baris_teks)
    baris_kata = indeks_kata.copy()
    print('baris_kata', baris_kata)
    split_baris = baris_teks.lower().split()
    for kata in baris_teks.lower().split():
        baris_kata[kata]=+1
        print(baris_kata)
    baris_kata = np.array(list(baris_kata.values()))
    baris_kata = baris_kata/len(split_baris)
    vektor_TF = np.concatenate((vektor_TF,baris_kata), axis=0)
    print(vektor_TF)
matriks_TF = vektor_TF.reshape(df_teks.shape[0], jumlah_kosa_kata)

Selamat Pagi Matematika UAD
baris_kata {'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 0, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 1, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 1, 'pagi': 1, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 1, 'pagi': 1, 'selamat': 1, 'uad': 1}
[0.   0.25 0.25 0.25 0.25]
Selamat Pagi Indonesia
baris_kata {'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 0, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 0, 'selamat': 1, 'uad': 0}
{'indonesia': 0, 'matematika': 0, 'pagi': 1, 'selamat': 1, 'uad': 0}
{'indonesia': 1, 'matematika': 0, 'pagi': 1, 'selamat': 1, 'uad': 0}
[0.         0.25       0.25       0.25       0.25       0.33333333
 0.         0.33333333 0.33333333 0.        ]

In [43]:
print(matriks_TF)

[[0.         0.25       0.25       0.25       0.25      ]
 [0.33333333 0.         0.33333333 0.33333333 0.        ]]

In [44]:
df_TF = pd.DataFrame(matriks_TF, columns=kosa_kata, index=df_teks.text.tolist())
df_TF

                             indonesia  matematika      pagi   selamat   uad
Selamat Pagi Matematika UAD   0.000000        0.25  0.250000  0.250000  0.25
Selamat Pagi Indonesia        0.333333        0.00  0.333333  0.333333  0.00

Membuat Baris IDF

In [45]:
baris_IDF=[]
for kolom in df_TF.columns :
    N = len(df_teks.text)
    kal_kata = len(df_TF[df_TF[kolom]>0])
    baris_idf = (math.log((1+N)/(1+kal_kata)))+1  
    baris_IDF.append(baris_idf)
baris_IDF

[1.4054651081081644, 1.4054651081081644, 1.0, 1.0, 1.4054651081081644]

Membuat Matriks TF-IDF

In [46]:
vektor_TFIDF=np.array([])
for baris in matriks_TF:
    baris_tfidf=np.multiply(baris,baris_IDF)
    vektor_TFIDF=np.concatenate((vektor_TFIDF,baris_tfidf), axis=0)
    
matriks_TFIDF = vektor_TFIDF.reshape(df_teks.shape[0], jumlah_kosa_kata)
matriks_TFIDF = normalize(matriks_TFIDF)

Membuat DataFrame TFIDF

In [47]:
df_TF_IDF = pd.DataFrame(matriks_TFIDF, columns=kosa_kata, index=df_teks.text.tolist())
df_TF_IDF

                             indonesia  matematika  ...   selamat       uad
Selamat Pagi Matematika UAD   0.000000    0.576152  ...  0.409937  0.576152
Selamat Pagi Indonesia        0.704909    0.000000  ...  0.501549  0.000000

[2 rows x 5 columns]

**Membuat Fungsi `TFIDF()`**

In [48]:
#Impor Modul Yang Diperlukan
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
import math
from sklearn.preprocessing import normalize

def TF_IDF(df_teks):
    # Membuat list kosa kata dari seluruh teks input
    kosa_kata = set()
    for i in df_teks.text:
        token_kal=set(word_tokenize(i.lower()))
        kosa_kata=set.union(kosa_kata,token_kal)
    kosa_kata = sorted(kosa_kata)
    # Membuat dictionary kata-kata
    indeks_kata = {}
    for kata in kosa_kata:
        indeks_kata[kata] = 0
    # Jumlah kosa kata(untuk kolom)
    jumlah_kosa_kata = len(kosa_kata)
    # Membagun matriks kata TF
    vektor_TF=np.array([])
    for baris_teks in df_teks.text:
        baris_kata = indeks_kata.copy()
        split_baris = baris_teks.lower().split()
        for kata in baris_teks.lower().split():
            baris_kata[kata]=+1
        baris_kata = np.array(list(baris_kata.values()))
        baris_kata = baris_kata/len(split_baris)
        vektor_TF = np.concatenate((vektor_TF,baris_kata), axis=0)
    matriks_TF = vektor_TF.reshape(df_teks.shape[0], jumlah_kosa_kata)
    # Membagun dataframe kata TF
    df_TF = pd.DataFrame(matriks_TF, columns=kosa_kata, index=df_teks.text.tolist())
    # Menghitung baris IDF
    baris_IDF=[]
    for kolom in df_TF.columns :
        N = len(df_teks.text)
        kal_kata = len(df_TF[df_TF[kolom]>0])
        baris_idf = (math.log((1+N)/(1+kal_kata)))+1  
        baris_IDF.append(baris_idf)
    # Membuat matriks TF-IDF
    vektor_TFIDF=np.array([])
    for baris in matriks_TF:
        baris_tfidf=np.multiply(baris,baris_IDF)
        vektor_TFIDF=np.concatenate((vektor_TFIDF,baris_tfidf), axis=0)
    matriks_TFIDF = vektor_TFIDF.reshape(df_teks.shape[0], jumlah_kosa_kata)
    matriks_TFIDF = normalize(matriks_TFIDF)
    # Membuat dataframe TF-IDF
    df_TF_IDF = pd.DataFrame(matriks_TFIDF, columns=kosa_kata, index=df_teks.text.tolist())
    return df_TF_IDF

**Contoh Implementasi Fungsi `TF_IDF()`**

In [49]:
df_teks

                          text
0  Selamat Pagi Matematika UAD
1       Selamat Pagi Indonesia

In [50]:
df_TF_IDF=TF_IDF(df_teks)
df_TF_IDF

                             indonesia  matematika  ...   selamat       uad
Selamat Pagi Matematika UAD   0.000000    0.576152  ...  0.409937  0.576152
Selamat Pagi Indonesia        0.704909    0.000000  ...  0.501549  0.000000

[2 rows x 5 columns]

### Perbandingan dengan Scikit Learn Library

Sebenarnya, kita bisa menghasilkan matriks TFIDF dengan menggunakan Library Scikit Learn pada Class `TfidfVectorizer`

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

corpus = ['Selamat Pagi Matematika UAD','Selamat Pagi Indonesia']

X = vectorizer.fit_transform(corpus)

df_TFIDF_SL = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names(), index=corpus)
df_TFIDF_SL

                             indonesia  matematika  ...   selamat       uad
Selamat Pagi Matematika UAD   0.000000    0.576152  ...  0.409937  0.576152
Selamat Pagi Indonesia        0.704909    0.000000  ...  0.501549  0.000000

[2 rows x 5 columns]

Hasil fungsi yang kita buat dari dasar sama dengan `TfidfVectorizer` dari Library Scikit Learn

#LATIHAN

In [80]:
data=pd.read_excel('/content/dataset_tweet_sentiment_pilkada_DKI_2017.xlsx')
data

      Id  ...                                         Text Tweet
0      1  ...  Banyak akun kloning seolah2 pendukung #agussil...
1      2  ...  #agussilvy bicara apa kasihan yaa...lap itu ai...
2      3  ...  Kalau aku sih gak nunggu hasil akhir QC tp lag...
3      4  ...  Kasian oh kasian dengan peluru 1milyar untuk t...
4      5  ...  Maaf ya pendukung #AgusSilvy..hayo dukung #Ani...
..   ...  ...                                                ...
895  896  ...  Kali saja bpk @aniesbaswedan @sandiuno lihat, ...
896  897  ...  Kita harus dapat merangkul semua orang tanpa b...
897  898  ...  Ini jagoanku dibidang digital <Smiling Face Wi...
898  899  ...               #PesanBijak #OkeOce #GubernurGu3 ...
899  900  ...  Sandiaga: Bangun Rumah DP 0% Lebih Simpel Diba...

[900 rows x 4 columns]

In [82]:
text1=data['Text Tweet']
text1

0      Banyak akun kloning seolah2 pendukung #agussil...
1      #agussilvy bicara apa kasihan yaa...lap itu ai...
2      Kalau aku sih gak nunggu hasil akhir QC tp lag...
3      Kasian oh kasian dengan peluru 1milyar untuk t...
4      Maaf ya pendukung #AgusSilvy..hayo dukung #Ani...
                             ...
895    Kali saja bpk @aniesbaswedan @sandiuno lihat, ...
896    Kita harus dapat merangkul semua orang tanpa b...
897    Ini jagoanku dibidang digital <Smiling Face Wi...
898                 #PesanBijak #OkeOce #GubernurGu3 ...
899    Sandiaga: Bangun Rumah DP 0% Lebih Simpel Diba...
Name: Text Tweet, Length: 900, dtype: object

In [83]:
import re, string, unicodedata
def Case_Folding(text):
 # Hapus non-ascii
 text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')

 # Menghapus Tanda Baca
 text = re.sub(r'[^\w]|_',' ', text)

 # Menghapus Angka
 text = re.sub("\S*\d\S*", "", text).strip()
 text = re.sub(r"\b\d+\b", " ", text)

 # Mengubah text menjadi lowercase
 text = text.lower()

 # Menghapus white space
 text = re.sub('[\s]+', ' ', text)

 return text

In [85]:
!pip install nlp-id
!pip install PySastrawi
from nlp_id. lemmatizer import Lemmatizer
from Sastrawi. Stemmer. StemmerFactory import StemmerFactory
from nlp_id. stopword import StopWord
import nltk
from nltk import word_tokenize, sent_tokenize
nltk. download('punkt' )

def RemoveUnwantedwords(text):
 word_tokens = word_tokenize(text)
 filtered_sentence = [ word for word in word_tokens if not word in unwanted_words]
 return ' ' . join(filtered_sentence)

stopword = StopWord()
factory = StemmerFactory()
stemmer = factory. create_stemmer()
lemmatizer = Lemmatizer()

Requirement already satisfied: nlp-id in /usr/local/lib/python3.7/dist-packages (0.1.12.0)
Requirement already satisfied: wget==3.2 in /usr/local/lib/python3.7/dist-packages (from nlp-id) (3.2)
Requirement already satisfied: scikit-learn==0.22 in /usr/local/lib/python3.7/dist-packages (from nlp-id) (0.22)
Requirement already satisfied: nltk==3.4.5 in /usr/local/lib/python3.7/dist-packages (from nlp-id) (3.4.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.4.5->nlp-id) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.22->nlp-id) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.22->nlp-id) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.22->nlp-id) (1.4.1)
Requirement already satisfied: PySastrawi in /usr/local/lib/python3.7/dist-packages (1.2.0)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [86]:

def Slangwords(text):
 for word in text. split():
  if word in slang_dict. keys():
    text = text. replace(word, slang_dict[word])
  return text

In [91]:
Hasil_Scrapping=pd.DataFrame({'text':data['Text Tweet']})

In [93]:
Hasil_Scrapping[['text']]
for i, row in Hasil_Scrapping. iterrows():
 content = Hasil_Scrapping.text[i]
 result = Case_Folding(content)
 result = lemmatizer. lemmatize(result)
 result = stemmer. stem(result)
 #result = Slangwords(result)
 result = stopword. remove_stopword(result)
 #result = RemoveUnwantedwords(result)
 Hasil_Scrapping['text'][i] = result

Implementasi dengan TF-IDF

In [94]:
Hasil_Scrapping

                                                  text
0    akun kloning dukung agussilvy serang paslon an...
1    agussilvy bicara kasihan yaa lap air mata wkwk...
2    gak nunggu hasil qc tp nunggu motif cuit sbyud...
3    kasi oh kasi peluru rw agussilvy mempan menang...
4    maaf dukung agussilvy hayo dukung aniessandi p...
..                                                 ...
895  bpk aniesbaswedan sandiuno lihat rspun selfie ...
896  rangkul orang batas usia kelamin okeoce ok han...
897  jago bidang digital smiling face with sunglass...
898                                  pesanbijak okeoce
899  sandiaga bangun rumah dp simpel banding tol ci...

[900 rows x 1 columns]

In [95]:
df_TF_IDF_Imp=TF_IDF(Hasil_Scrapping)
df_TF_IDF_Imp

                                                      a   aa  ...  zipper  zona
akun kloning dukung agussilvy serang paslon ani...  0.0  0.0  ...     0.0   0.0
agussilvy bicara kasihan yaa lap air mata wkwkwkwk  0.0  0.0  ...     0.0   0.0
gak nunggu hasil qc tp nunggu motif cuit sbyudh...  0.0  0.0  ...     0.0   0.0
kasi oh kasi peluru rw agussilvy mempan menangi...  0.0  0.0  ...     0.0   0.0
maaf dukung agussilvy hayo dukung aniessandi pu...  0.0  0.0  ...     0.0   0.0
...                                                 ...  ...  ...     ...   ...
bpk aniesbaswedan sandiuno lihat rspun selfie o...  0.0  0.0  ...     0.0   0.0
rangkul orang batas usia kelamin okeoce ok hand...  0.0  0.0  ...     0.0   0.0
jago bidang digital smiling face with sunglasse...  0.0  0.0  ...     0.0   0.0
pesanbijak okeoce                                   0.0  0.0  ...     0.0   0.0
sandiaga bangun rumah dp simpel banding tol cip...  0.0  0.0  ...     0.0   0.0

[900 rows x 2569 columns]

Implementasi BOW

In [96]:
df_BoW_imp=Bag_Of_Words(Hasil_Scrapping)
df_BoW_imp

                                                    a  aa  ...  zipper  zona
akun kloning dukung agussilvy serang paslon ani...  0   0  ...       0     0
agussilvy bicara kasihan yaa lap air mata wkwkwkwk  0   0  ...       0     0
gak nunggu hasil qc tp nunggu motif cuit sbyudh...  0   0  ...       0     0
kasi oh kasi peluru rw agussilvy mempan menangi...  0   0  ...       0     0
maaf dukung agussilvy hayo dukung aniessandi pu...  0   0  ...       0     0
...                                                ..  ..  ...     ...   ...
bpk aniesbaswedan sandiuno lihat rspun selfie o...  0   0  ...       0     0
rangkul orang batas usia kelamin okeoce ok hand...  0   0  ...       0     0
jago bidang digital smiling face with sunglasse...  0   0  ...       0     0
pesanbijak okeoce                                   0   0  ...       0     0
sandiaga bangun rumah dp simpel banding tol cip...  0   0  ...       0     0

[900 rows x 2569 columns]

Ekspor CSV

In [97]:
df_TF_IDF_Imp.to_csv('Pilkada_DKI_TFIDF.csv')

In [98]:
df_BoW_imp.to_csv('Pilkada_DKI_BoW.csv')